<!--views/contacts/index.ejs-->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../partials/head') %> <!--외부 .ejs파일 가져오기-->
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container contact contact-index">
            <h2>Index</h2>
            <ul class="list-group">
                <% contacts.forEach(function(contact) { %><!-- <li>태그를 반복해서 표시하겠다는 뜻 -->
                    <li class="list-group-item">
                        <a href="/contacts/<%= contact._id %>"><%= contact.name %></a>
                    </li>
                <% }) %>  
            </ul>
        </div>
    </body>
</html>